---
layout: default
---
{% include breadcrumbs.html parent="Data Types" %}
{% assign datatypes = site.datatypes | where: "category", page.title %}

<div class="container">
  <div class="row">
    {% if page.logo and page.logo != empty %}
    <div class="col-sm-3">
      <a href="{{ page.logo | relative_url }}" class="card-grid-item"><img class="img-thumbnail rounded mx-auto d-block" src="{{ page.logo | relative_url }}" alt="{{ page.title }} logo"></a>
    </div>
    {% endif %}
    <h1>
      {{ page.title }}
    </h1>
    <p>{{ page.description }}</p>
  </div>
  <h3>Data Types</h3>
  <div class="list-group">
    {% for datatype in datatypes %}
      {% assign count = site.datasets | where: "datatype", datatype.title | size %}
      <a href="{{ site.baseurl}}{{ datatype.url }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        {{ datatype.title }}
        <span class="badge bg-primary rounded-pill">{{ count }}</span>
      </a>
    {% endfor %}
</div>
